@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-alien-dark text-white font-mono;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0a0a12; 
}
::-webkit-scrollbar-thumb {
  background: #39ff14; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #00f0ff; 
}
